.mainPage {
    .blockForPhoto {
        position: relative;
        overflow: hidden;
        height: 750px;
        width: 100%;
        .photo {
            position: absolute;
            height: 750px;
            width: 100%;
            left: 0px;
            top: 0px;
            z-index: 1;
            transition: .5s top ease-in-out;
            &:hover {
                cursor: pointer;
            }
            &.slide {
                pointer-events: none;
                top: 750px;
            }
            &.active {
                z-index: 2;
            }
            &.hide {
                visibility: hidden;
                opacity: 0;
            }
        }
        .wrapperPoints {
            position: absolute;
            display: flex;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            z-index: 3;
            .point {
                width: 20px;
                height: 20px;
                margin: 0 10px;
                border-radius: 50%;
                transition: .3s background-color;
                background-color: rgb(197, 197, 197);
                &.active {
                    background-color: rgb(61, 61, 61);
                }
            }
        }
    }
    .description {
        margin: 30px 0;
        font-family: serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            font-size: 26px;
            font-style: italic;
            margin-bottom: 20px;
        }
        .text {
            width: 800px;
            font-size: 20px;
        }
    }
    .square {
        position: absolute;
        display: grid;
        user-select: none;
        width: 200px;
        height: 200px;
        right: 150px;
        top: 100px;
        background-color: white;
        z-index: 3;
        color: rgb(124, 124, 124);
        .innerBlock {
            border: 1px solid rgb(124, 124, 124);
            margin: 5px;
            box-sizing: border-box;
            .name {
                margin-top: 20px;
                line-height: 33px;
                font-size: 26px;
            }
            .proff {
                margin-top: 30px;
                line-height: 33px;
                font-size: 20px;
                font-style: italic;
            }
        }
    }
}